body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E4E7E5;
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    gap: 48px;
}

.section.one {
    background-color: #1f2937;
    padding: 16px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    flex:1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-variant: small-caps;
    font-size: 36px;
    color: #ed7d51;
    font-weight: 700;
    cursor: pointer;
}

.links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap:16px;
    color: #E4E7E5;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    display: flex;
    gap: 24px;
    align-items: center;
}

.content-left {
    width: 500px;
    flex: 1 0 auto; 
}

button {
    cursor: pointer;
    border-radius: 8px;
    margin-top: 24px;
    padding: 4px 24px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid royalblue;  
}

.content-left .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 16px;
}

img {
    height: 298px;
}

.section.two {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 10px 200px;
}

.title {
    color: #1f2937;
    align-self: center;
    font-size: 32px;;
}

.images {
    display: flex;
    justify-content: space-around;
    flex: 1
}

.img-container {
    text-align: center;
    color: #1f2937;
    max-width: 200px;
    margin-top: 16px;
}

.img-container img {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.section.three {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    min-height: 390px;
    padding: 100px 300px;
    gap: 32px;
    align-items: flex-end;
    flex:1;
  
}

.quote {
    color: #1f2937;
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    flex-shrink: 0;
}

.person {
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    flex: 1 0 auto;
}

.section.four {
    display: flex;
    background-color: #3882F6;
    height: 130px;
    flex: 1 1 auto;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    margin: 0 auto;
    padding: 0px 32px;
    gap: 16px;
}

.action {
    font-size: 14px;
}

.section.four button {
    border-color: #E5E7EB;
}

.footer {
    display: flex;
    background-color: #1f2937;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

